<h1>National Universities Rankings</h1>
<% unless @scrape_data.empty? %>
  <table border="1">
    <tr>
      <th>Rank</th>
      <th>Name</th>
      <th>Tuition Fees</th>
      <th>Total Enrollment</th>
      <th>Acceptance Rate</th>
      <th>Average Retention Rate</th>
      <th>Graduation Rate</th>
    </tr>
    <tbody>
      <% @scrape_data.each do |college| %>
        <tr>
          <td><%= college["rank"] %></td>
          <td><%= college["name"] %></td>
          <td><%= college["tuition_fees"] %></td>
          <td><%= college["total_enrollment"] %></td>
          <td><%= college["acceptance_rate"] %></td>
          <td><%= college["average_retention_rates"] %></td>
          <td><%= college["graduation_rate"] %></td>
        </tr>
      <%end%>
    </tbody>
  </table>
  <%= paginate @scrape_data %>
<% else %>
  <div>No Data to display</div>
<% end %>

